<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Upload file</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS from CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='cover.css') }}" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      
      <header class="masthead mb-auto">
        <div class="inner">
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Upload Export.zip</h1>
        <p class="lead">Insert the password and the id (0=last ecg). <br> The file will be downloaded and you will be redirected to the results page.</p>
        <form method="post" enctype="multipart/form-data">
            <input type="password" name="pw" placeholder="Pw">
            <input type="number" name="id" placeholder="ID" min="0" value=0>
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Made by Alessandro Giustina, Cover template from Bootstrap</p>
        </div>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript from CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9I6p1hT9GxBSf5DhkrB45eZzMfnJrVhDuK3g" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
